*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
a{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:white;
}
nav{
    background-color: #000000;
    ;
    height: 50PX;
    
}
.enlace{
    position: absolute;
    padding: 20px 50px;
}
.logo{
    height: 5px
width:5PX;

}
nav ul{
    float: right;
    margin-right: 30px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 25px;
}


li a.active, li a:hover{
    background: #606060;
    transition: .5s;}


body{
    background-image:url(pag\ contacto.jpg);
    background-size: 100vw 100vh;
    background-attachment: fixed;
    margin: 0;

}
form{
    width: 450px;
    margin: auto;
    background: rgba(0, 0,0, 4)
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border: radius 7px;
}
h2{
    color: white;
    text-align: center;
    margin: 30px;
    margin-bottom: 20px;

}
input, textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
border: none;
}

textarea{
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;


}
#botton{
    background:#967C6D ;
    color: white;
    padding: 20px;
}
#boton:hover{
    cursor: pointer;
}
.sobre{
    background-color: #fff;
    color: #000;
    font-family: system-ui;
    opacity: 0.8;
    border-radius: 10px;
    margin: 15px;
    padding: 0 10px 10px;
    width: 95%;
}
@media(max-width:480){
    form{
        width: 100%;
    }

  

}

@media screen and (max-width: 732px) {
    nav{
        background-color: #000000;
        ;
        height: 50PX;
        width: 640px;
        font-size: 11px;
    }

}